<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的客户</title>
    <link href="${staticPath}js/bootstrap/css/bootstrap.min.css" rel="stylesheet">	
    <script src="${staticPath}js/jquery/jquery.min.js"></script>
	<script src="${staticPath}js/bootstrap/js/bootstrap.min.js"></script>
	<script src="${basePath}scripts/main.js"></script>
    <style type="text/css">
    .remind{
        background-color: red;
	    color: white;
	    vertical-align: 1px;
	    margin-left: 9px;
	    line-height: 12px;
	    padding: 2px 8px 5px 7px;
	}
    </style>	
  </head>
<body>
<div class="container-fluid">
	<div id="myTabContent" class="tab-content">
		<div id="customerList" class="tab-pane fade in active">
			<div class="col-md-10">&nbsp;</div>
			<div class="col-md-12">
				<form action="${basePath}admin/auth/userList.xhtml" class="form-inline" role="form">
					<div class="form-group form-inline">
						<div class="pull-left">
							<label class="sr-only" for="name">名称</label>
							<input type="text" name="nickname" class="form-control" value="$!params.nickname" placeholder="请输入员工姓名"/>
							<input type="submit" class="btn btn-default" value="搜索"/>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-11">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>工号</th>
							<th>姓名</th>
							<th>电话</th>
							<th>部门</th>
							<th>组别</th>
							<th>职务</th>
							<th>职级</th>
							<th>是否在职</th>
							<th>备注</th>
							<th>编辑</th>
							<th>权限</th>
						</tr>
					</thead>
					<tbody>
					#foreach($user in $userList)
					#set($extra=$extraMap.get($user.id))
					<tr #if($foreach.count % 2 eq 0)class="success"#end>
						<td>$!extra.jobNo</td>
						<td>$!user.nickname</a></td>
						<td>$!{user.mobile}</td>
						<td>$!extra.deparmentId</td>
						<td>$!extra.groupName</td>
						<td>$!{extra.jobGrade}</td>
						<td>$!{extra.jobName}</td>
						<td>#if($!{extra.jobStatus} eq 'Y')是#elseif($!{extra.jobStatus} eq 'N')否#end</td>
						<td>$!{extra.remark}</td>
						<td><button class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal" name="edit" data-id="$user.id">编辑</button></td>
						<th><button class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal" name="auth" data-id="$user.id">权限</button></th>
					</tr>
					#end
					</tbody>
				</table>
			#parse('admin/common/cardsp_pageUtil.vm')
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<script type="text/javascript">
$("button[name=edit]").click(function(){
	$.ajaxs({
	    url: '${basePath}admin/auth/userForm.xhtml',
	    data: {"id":$(this).attr('data-id')},
	    success:function(result){
	        $("#myModal").html(result);
	    }
	});
});
$("button[name=auth]").click(function(){
	$.ajaxs({
	    url: '${basePath}admin/auth/authForm.xhtml',
	    data: {"id":$(this).attr('data-id')},
	    success:function(result){
	        $("#myModal").html(result);
	    }
	});
});
</script>
</body>
</html>